body{
	background-color: #f9f9f9 !important;
	font-size:36pt !important;
}
h1{
	font-size:48pt !important;
}

.searchInput {
    color:#333;
    width: 100%;
}
.searchResult {
	padding-top:48px;
    width: 100%;
    display: block;
    color:#1A6884;
    
}

.searchResult .type {
    float: right;
}

.confusedFish {
    display: block;
    width: 400px;
    padding-bottom: 20px
}

.reportLink{
	font-size:48pt !important;
	padding-top:48px;
    width: 100%;
    display: block;
    color:#1A6884;
    margin: auto;

}

.imageContainer{
	margin: auto;
    width: 100%;

}

.headerDiv{
	padding-top: 20px;
	margin: auto;
	height:220px;
}